.service {
    @include e(p){
        width: 600px;
    }
}

.service {
    @include e(h2){
        margin-top: 125px;
        font-size: 42px;
    }
}

.service {
    @include e(more){
        @include h{
            color: rgb(223, 135, 235);
        }
    }
}