.middle {
    @include e(h2){
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
    }
}

.middle {
    @include e(p){
        text-align: start;
    }
}

.middle {
    @include e(btn){
        @include h {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}