.middle {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.middle {
    @include e(box1) {
        grid-column: 1;
    }
}

.middle {
    @include e(box2) {
        grid-column: 2;
        align-self: center;
    }
}

.middle {
    @include e(box3) {
        grid-column: 2;
    }
}

.middle {
    @include e(box4) {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
    }
}