*, *::before, *::after {
  box-sizing: border-box;
}

html {
  @include getCssVar(font-size);
  @include getCssVar(font-family);
  @include getCssVar(line-height);
}

body {
  font-size: $baseFontSize;
  height: 100vh;
  margin: 0rem;
}

h1, h2, h3, h4, p {
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
