.intro {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1;
}

.intro {
    @include e(block1){
        width: 100%;
        max-width: 100%;
        padding-top: 60px;
    }
}

.intro {
    @include e(block2){
        width: 100%;
        max-width: 100%; 
    }
}

.intro {
    @include e(h1){
        text-align: center;
        font-weight: 700;
        background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    }
}

.intro {
    @include e(p){
        margin: 2rem 0;
        text-align: center;
        color: #E5E7EB;
        // opacity: 0.9;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }
}

.intro {
    @include e(joinbox){
        display: flex;
        padding: rem(12px);
        justify-content: space-evenly;
    }
}

.intro {
    @include e(btn){
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border-radius: 6px;
        padding: 15px 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: $white;
    }
}

.intro {
    @include e(watch){
        margin: auto 0;
        font-size: 14px;
        padding-left: 10px;
        transition: all 0.05s;
        border-bottom: 2px solid transparent;
    }
}

.intro__watch:active {
    transform: scale(1.1);
}

.intro {
    @include e(h3){
        display: inline;
        padding-left: 8px;
        vertical-align: 8px;
    }
}

.block2 {
    @include e(img){
        object-fit: cover;
        width: 100%;
        max-width: 100%;
    }
}