.service {
    @include e(h2){
        text-align: center;
        font-size: 30px;
        padding-top: 1rem;
    }
}

.service__h2 span {
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg);
    }
}

.service {
    @include e(p){
        text-align: center;
        margin: 1rem auto 30px;
        line-height: 26px;
        animation: 2s lineUp ease-out;
    }
}

  @keyframes lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.service {
    @include e(gridbox){
        display: none;
        position: relative;
    }
}

.service {
    @include e(grid){
        padding-top: 1px;
        padding-bottom: 1px;
        background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
        border-radius: 34px;
    }
}

.service {
    @include e(imgbox){
        margin: 1rem auto 0;
        width: 74px;
        height: 74px;
        border-radius: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.service__imgbox_1 {
    background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
}
.service__imgbox_2 {
    background: linear-gradient(180deg, #D97F95 0%, #923250 100%);
}
.service__imgbox_3 {
    background: linear-gradient(180deg, #84D8ED 0%, #4292BB 100%);
}
.service__imgbox_4 {
    background: linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);
}
.service__imgbox_5 {
    background: linear-gradient(180deg, #BC7FD9 0%, #923283 100%);
}
.service__imgbox_6 {
    background: linear-gradient(180deg, #8684ED 0%, #4247BB 100%);
}

.service {
    @include e(img){
        width: 50%;
        height: 50%;
    }
}

.service {
    @include e(h3){
        text-align: center;
        font-size: 21px;
    }
}

.service {
    @include e(grid-p){
        padding: 0.5rem 2rem;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.service {
    @include e(more){
        text-align: center;  
        margin-bottom: 2rem;
        cursor: pointer;
        transition: transform 0.1s;
    }
}

.service__more:active {
    transform: scale(1.1);
    color: pink;
    background: none;
}
       
.svg-arrow {
    width: 14px;
    height: 13px;
    vertical-align: middle; 
    margin-left: 0.5rem;
}

//Arrows

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev::after
 {
    color: skyblue;
    font-size: 40px; 
}

.swiper-button-next::after {
    color: skyblue;
    font-size: 40px;
}

.swiper-button-prev:active {
    transform: scale(1.2);
}

.swiper-button-next:active {
    transform: scale(1.2);
}