.middle {
    display: grid;
}

.middle {
    @include e(h2){
        text-align: center;
        margin-bottom: 30px;
        line-height: 36px;
    }
}

.middle {
    @include e(img){
        object-fit: cover;
        width: 100%;
        max-width: 100%;
    }
}

.middle {
    @include e(p){
        text-align: justify;
        margin-bottom: 30px;
    }
}

.middle {
    @include e(btn){
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border-radius: 6px;
        padding: 12px 22px;
        color: $white;
    }
}